[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third_party/deep_robotics_model"]
	path = third_party/deep_robotics_model
	url = https://github.com/DeepRoboticsLab/deep_robotics_model.git
[submodule "third_party/gamepad"]
	path = third_party/gamepad
	url = https://github.com/DeepRoboticsLab/gamepad.git
[submodule "third_party/Lite3_MotionSDK"]
	path = third_party/Lite3_MotionSDK
	url = https://github.com/DeepRoboticsLab/Lite3_MotionSDK.git
	branch = main
